- content_for :title, 'All courses'

%h1= t('.all_courses')
.container
  - @courses.each do |course|
    .col-md-4
      %paper-shadow{:z => 1, :class => "card"}
        %h3= link_to course.name, course_path(:id => course.id)
        %h5= t('.coursesubject_courseteacher', :coursesubject => (course.subject), :courseteacher => (course.teacher))
- if can? :manage, :courses
  %hr
  = link_to t('.new_course'), new_course_path
