%h1
  %a= link_to t('.posttitle', :posttitle => (post.title)), post_path(post)
%h6= t('.by_postauthor_name_at_posttime', :postauthor_name => (post.author_name), :posttime => (post.time))
:markdown
  #{post.content}
%br
%br
= render "edit", :post => post, :user => current_user
%br
